.app_main
    width 70%
    .app_main_container
        display flex
        max-width 952px
        margin 32px
        border-radius 8px
        background-color $content-bg
        box-shadow 0 32px 64px 0 rgba(0, 0, 0, 0.05)