.app_tabs_switcher_row
    display flex
    padding 30px 50px
    dark-border()
    .app_tabs_switcher
        margin-left 32px
        .switcher_input
            app_main_switcher_input()
        .switcher_label
            app_main_switcher_label()