global-reset()

html, body
    height 100%
    font-family base-font-family
    font-size base-font-size
    color $base-dark
    background-image linear-gradient(31deg, #eeeeee, #fafafa)

html
    font-size 1em

body
    .svg-container
        display none

    .app
        height 100%
        display flex
