/*Colors*/

$base-dark = #303030
$base-white = #fff
$base-green = #26bf6e
$base-yellow = #ffc620
$content-bg = rgba(255, 255, 255, 0.9)
$base-grey = #e5e5e5
$dark-border = rgba(0, 0, 0, 0.1)
$white-border = rgba(255, 255, 255, 0.2)
$circle-bg = rgba(254, 254, 254, 0.6)

palette = {
  "primary":         $primary,
  "primary-dark":    $primary-dark,
  "primary-light":   $primary-light,
  "text":            $text-color,
  "primary-text":    $primary-text,
  "secundary-text":  $secundary-text,
  "accent":          $accent,
  "divider":         $divider,
  "base":            $base
  "base-dark":       $base-dark
}



/*Font*/

base-font-size = 1vw
base-font-family = 'Roboto', sans-serif



/*Media queries*/
max-screen-lg = 'screen and (max-width:1360px)'
min-screen-lg = 'screen and (min-width:1361px)'

