@media min-screen-lg
    body
        font-size 14px
    .app_tabs
        .app_tabs_main
            .app_tabs_players
                .app_tab_player_item
                    flex-basis 140px
@media max-screen-lg
    body
        font-size .7em
    .app_tabs
        .app_tabs_main
            .app_tabs_aside
                width 25%
            .app_tabs_players
                width 70%
                .app_tab_player_item
                    width 30%
                    margin 0 .7em 28px 0
                    flex-basis inherit


