@import 'nib'
@require app_variables
@require app_mixins
@require app_theme
@require 'app_main_section/app_main_main.styl'
@require 'app_main_section/app_main_tabs.styl'
@require 'app_main_section/app_main_switcher.styl'
@require 'app_main_section/app_main_tabs_players.styl'
@require 'app_aside_section/app_aside_head.styl'
@require 'app_aside_section/app_aside_main.styl'
@require 'app_aside_section/app_aside_navigation.styl'
@require app_responsive