.app_aside
    width 30%
    height 200%
    background $base-dark
    color $base-white
    .app_aside_section
        white-border()
        &:last-child
            border none
        &.app_aside_head
            padding 19px 16px
        .app_aside_title
            margin 12px