.aside_head_nav_content
    display flex
    .aside_head_nav
        svg
            width 18px
            fill $base-white
    .aside_head_logo
        font-family base-font-family
        font-weight 700
        font-size 18px
        margin-left 16px
        color $base-white
.aside_btn_container
    margin-top 10px
    .aside_btn
        aside-btn()